backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
bleach==3.1.0
certifi==2020.6.20
chardet==3.0.4
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
cycler==0.10.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1591799495396/work
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1592593303100/work
decorator==4.4.2
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1592315758554/work
docutils==0.14
guppy3==3.0.10.post1
idna==2.8
igl @ file:///home/conda/feedstock_root/build_artifacts/igl_1591373926455/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1593295485416/work
imageio==2.8.0
imcut==1.11.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1593235451385/work
ipython-genutils==0.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1592619883817/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
kiwisolver==1.2.0
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1592576124213/work
MedPy==0.4.0
networkx==2.4
nibabel==3.1.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1591485220230/work
olefile==0.46
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1593694094240/work
pkginfo==1.5.0.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
ptyprocess==0.6.0
pygco==0.0.16
Pygments==2.3.1
pymesh2==0.2.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
readme-renderer==24.0
requests-toolbelt==0.9.1
scikit-image==0.17.2
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1589920858235/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1593253465737/work
SimpleCRF @ git+https://github.com/jjerphan/SimpleCRF.git@739df0d31c8f70c2e03db9eaa4103e0b6cde5147
SimpleITK==1.2.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1593508478078/work
toolz==0.10.0
tornado==6.0.4
tqdm==4.30.0
traitlets==4.3.3
twine==1.12.1
urllib3==1.24.1
vedo==2020.3.4
vtk==9.0.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webencodings==0.5.1
